<div class="container">
  <h2>Productos</h2>

  <div class="grid" *ngIf="products$ | async as products; else noData">
    <div class="card" *ngFor="let p of products">
      <img [src]="p.imageUrl ? baseUrl + p.imageUrl : 'assets/no-image.png'" />

      <h3>{{ p.name }}</h3>
      <p>{{ p.description }}</p>

      <p class="points">⭐ {{ p.pointsCost }} puntos</p>

      <button (click)="redeem(p)">Canjear</button>
    </div>
  </div>

  <ng-template #noData>
    <p>No hay productos</p>
  </ng-template>
</div>
